.courses{
  margin:auto;
  border:1px solid gray;
  padding:20px;
  display:flex;
  flex-direction:column;
}
.courses-content{
  width:260px;
  display: block;
  padding:8px;
}
#display-courses{
  display: flex;
  flex-wrap:wrap;
  margin:auto;
  justify-content:center;
}
#explore-btn {
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
}
#explore-btn:hover{
  box-shadow:2px 2px 2px gray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
